html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 16px;
	background-color: #2c3333;
	color: #e7f6f2;
}

a {
	color: inherit;
	/* text-decoration: none; */
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

#nav {
	height: 50px;
}

#footer {
	width: 100%;
	height: 55px;
}

#main_content {
	width: 92%;
	max-width: 1000px;
	margin-inline: auto;
	min-height: calc(100dvh - (50px + 55px));
	padding-top: 10px;
	padding-bottom: 10px;
}

li {
	list-style-type: none;
}
