section {
	text-align: center;
}

#content {
	font-size: 1.3rem;
	margin-block: 10px;
}

#social_media_links {
	margin-top: 5px;
}

#social_media_links p {
	font-size: 1.25rem;
	margin-bottom: 10px;
}

#social_media_links p a {
	text-decoration: underline;
}

#latest_blog_posts {
	margin-top: 40px;
}

.post_link,
#see_more_link {
	text-decoration: underline;
	cursor: pointer;
}

.post_link {
	font-size: 1.2rem;
}
