section {
	margin-bottom: 15px;
}

article,
#bottom_link {
	font-size: 1.15rem;
}

article *,
#bottom_link {
	margin-block: 1rem;
}

h1 {
	font-size: 2rem;
}

section h2 {
	font-size: 1.2rem;
	font-weight: 600;
}

img {
	max-width: 100%;
	/* float: left; */
	display: inline-block;
}

pre {
	background-color: black;
	padding: 16px;
	border-radius: 4px;
	overflow-x: scroll;
}
