---
layout: layouts/base.njk
---

{% set aboutcss %}
{% include "styles/about.css" %}
{% endset %}
<style>
    {{aboutcss | cssmin | safe}}</style>
<section>
    <h1>About Us</h1>
    <div id="content">
        <h2>What is Stuy Linux</h2>
        <p>
            Stuy Linux is Stuyvesant's only initiative to promote the use of Free/Libre Open Source Software (FLOSS) programs and
            the GNU/Linux projects.
        </p>
        <h3>What do we do?</h3>
        <p>
            We work in collaboration with the
            <a href="https://www.stuycs.org/" target="_blank">Stuyvesant CS department</a>
            to host weekly meetings that provide students with an extracurricular space that encourages them to explore,
            investigate, and understand the inner workings of the software that runs the world around them.
        </p>
        <h3>What are some things Stuy Linux does?</h3>
        <p>
            We host our own shared
            compute cluster on an Orange Pi with Linux Containers (LXD), allowing us to provide each member with their own personal
            root-access Alpine Linux environment for experiments with different tools. In addition, we host our own IRC server,
            <a href="https://irc.stuylinux.org" target="_blank">irc.stuylinux.org</a>
            bridged to a Gitter/Matrix channel (<a href="https://matrix.to/#/#stuy-linux:gitter.im" target="_blank">#stuy-linux:gitter.im</a>) and a
            <a href="https://discord.gg/8pkfP7mU78" target="_blank">Discord server</a>
            to engage with our community.
        </p>
        <h3>What happens in a Stuy Linux Meeting</h3>
        <p>
            Meetings revolve around collaborative exercises in real-life applications of software tools written in any language
            available, from C to Rust, Go to Python, or JavaScript to Java! After developing problem-solving skills with these
            technologies, we tackle
            <a href="https://picoctf.org" target="_blank">CMU picoCTF</a>
            challenges to emphasize how rewarding it can be to explore different avenues in the software and cybersecurity
            world.
        </p>
        <a href="https://stuyactivities.org/linux" target="_blank">Our full club charter and more club info</a>
        <br>
        <h2>Contact Us</h2>
        <p>
            Want to reach us?
            <br/>
            <br/>
            Email: stuylinux[at]tutanota[dot]com
            <br/>
            Discord: <a href="https://discord.gg/8pkfP7mU78" target="_blank">discord.gg/8pkfP7mU78</a>
            <br/>
            IRC channel: <a href="https://irc.stuylinux.org" target="_blank">irc.stuylinux.org</a>
        </p>
        <br>
        <h2>Services</h2>
            <hr>
            <a href="https://files.stuylinux.org" target="_blank">files.stuylinux.org</a>
            <p>A simple file server for Stuy Linux meeting resources and program package repositories</p>
            <hr>
            <a href="https://git.stuylinux.org" target="_blank">git.stuylinux.org</a>
            <p>Stuy Linux's self hosted <a href="https://about.gitea.com/" target="_blank">gitea</a> instance.</p>
            <hr>
            <a href="https://irc.stuylinux.org" target="_blank">irc.stuylinux.org</a>
            <p>Stuy Linux's self hosted IRC chanel.</p>
            <hr>
            <a href="https://paste.stuylinux.org" target="_blank">paste.stuylinux.org</a>
            <p>Stuy Linux's pastebin</p>
            <hr>
            <a href="https://search.stuylinux.org" target="_blank">search.stuylinux.org</a>
            <p>A 4get instace (a FOSS proxy search engine).</p>
            <hr>
        <br>
    </div>
</section>
