---
layout: layouts/base.njk
---

{% set homecss %} {% include "styles/home.css" %} {% endset %}
<style>
	{{ homecss | cssmin | safe }}
</style>

<section>
	<h1>Stuyvesant Linux Club</h1>
	<div id="content">
		<p>
			Stuy Linux is Stuyvesant's only initiative to promote the use of
			Free/Libre Open Source Software (FLOSS) programs and the GNU/Linux
			projects.
		</p>
	</div>
	<div id="social_media_links">
		<p>
			Join us on
			<a href="https://stuyactivities.org/linux"> StuyActivities </a>
		</p>
		<p>
			Chat on the
			<a href="https://irc.stuylinux.org">Internet</a>
			(irc.stuylinux.org:6697)
		</p>
		<p>
			Join our
			<a href="https://discord.gg/8pkfP7mU78">Discord</a>
		</p>
		<p>
			The posts page (or blog?) is functioning! Check out our
			<a href="/posts">many blog posts</a>!
		</p>
	</div>
</section>
