---
layout: layouts/base.njk
---

<h1>Stuyvesant Linux Club</h1>
<div id="content">
	<p>
		Stuy Linux is a new initiative to promote the use of
		Free/Libre Open Source Software (FLOSS) programs and the
		GNU/Linux projects.
	</p>
	<p>
		This site is still under construction, so check back
		soon!
	</p>
</div>
<div id="social_media_links">
	<p>
		Join us on&nbsp;
		<a href="https://stuyactivities.org/linux">
			StuyActivities
		</a>
	</p>
	<p>
		Chat on the&nbsp;
		<a href="https://irc.stuylinux.org">
			Internet
		</a> (irc.stuylinux.org:6697)
	</p>
	<p>
		Join our&nbsp;
		<a href="https://discord.gg/8pkfP7mU78">Discord</a>
	</p>
	<p>
		The posts page (or blog?) is functioning! Check out our <Link href="/posts">many blog posts</Link>!
	</p>
</div>
{% set postlist = collections.posts %} {% include "components/postlist.njk" %}
