#nav {
	text-align: center;
	display: flex;
	max-width: 400px;
	justify-content: space-around;
	margin: auto;
	height: 100%;
	align-items: center;
}

.nav_link {
	font-size: 1.5rem;
	text-decoration: underline;
	flex: 1;
}
