#main {
	text-align: center;
}

.post_link {
	text-decoration: underline;
	cursor: pointer;
}

#posts_display {
	margin: auto;
	margin-top: 20px;
	width: 90%;
	max-width: 1050px;

	display: grid;
	grid-template-columns: repeat(3, 32%);
	grid-column-gap: 1%;
	justify-content: space-between;
	align-content: center;
}

.blog_post_bubble {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

@media (max-width: 950px) {
	#posts_display {
		grid-template-columns: repeat(2, 50%);
	}
}

@media (max-width: 700px) {
	#posts_display {
		grid-template-columns: repeat(1, 100%);
	}
}
